* {
  box-sizing: border-box;
}
body,
div,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #444;
}

button {
  cursor: pointer;
}
